<?xml version="1.0"?>
<!--
/**
 * Copyright © Michał Biarda. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mb_inpost>
                <active>0</active>
                <title>Inpost</title>
                <sallowspecific>0</sallowspecific>
                <sort_order>15</sort_order>
                <model>MB\Inpost\Model\Carrier</model>
            </mb_inpost>
        </carriers>
    </default>
</config>
