<?xml version="1.0"?>
<!--
/**
 * Copyright © Michał Biarda. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<mbinpost>
				<active>0</active>
				<title>Inpost</title>
				<sallowspecific>1</sallowspecific>
				<specificcountry>PL</specificcountry>
				<sort_order>15</sort_order>
				<model>MB\Inpost\Model\Carrier</model>
				<api_mode>sandbox</api_mode>
				<sandbox_base_uri>https://sandbox-api-shipx-pl.easypack24.net</sandbox_base_uri>
				<production_base_uri>https://api-shipx-pl.easypack24.net</production_base_uri>
				<sandbox_organization_id/>
				<sandbox_auth_token/>
			</mbinpost>
		</carriers>
	</default>
</config>
