<?xml version="1.0"?>
<!--
/**
 * Copyright © Michał Biarda. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Shipping\Block\Adminhtml\Order\Packaging">
        <plugin name="mb-inpost-customize-packaging-js-module-config"
                type="MB\Inpost\Plugin\CustomizePackagingJsModuleConfig" />
    </type>
</config>