// /**
//  * Copyright © Michał Biarda. All rights reserved.
//  * See LICENSE.txt for license details.
//  */

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#locker-map-wrapper {
  .loading {
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    left: 0;
    right: 0;
    background: url('../../images/loader-1.gif') no-repeat center center;
  }

  &.easypack-widget {
    .loading {
      display: none;
    }
    .map-list-row {
      .map-list-flex {
        .list-widget {
          min-height: 200px;
        }
      }
    }
  }
}